@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Hedvig+Letters+Serif:opsz@12..24&family=Lemon&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:opsz,wght@6..12,200&family=Playfair+Display:wght@400..900&family=Protest+Revolution&family=Rubik+Burned&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
.myhome{
  background-color: rgb(29, 28, 28);

}
.sk{
  font-family: "Protest Revolution", sans-serif;
font-size: 90px;
color: white;
}
nav{
  background-color: rgb(29, 28, 28);

  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav ul li button a{
text-decoration: none;
color: white;
font-size: 18px;
}
nav ul li button{
  border: none;
  background-color: inherit;
}
nav ul{
  display: flex;
  gap: 3rem;
}
nav ul li{
list-style: none;
} 
.manyala{
  font-family: "Protest Revolution", sans-serif;
  color: rgb(7, 132, 46);
}
.hello{
  color: white;
  font-size: 25px;
}
.mwanzilishi{
display: flex;
justify-content: space-around;
padding-top: 5%;
padding-bottom: 5%;
/* margin-top: 5%; */
}
.sooft{
  color: rgb(7, 132, 46);
}
.web{
  color: rgb(255, 255, 255);
}
.contactymee{
  padding: 10px;
  background-color: white;
margin-top: 3%;
}
.contactymee a{
  font-weight: 600;
  color: green;
  text-decoration: none;
  background-color: inherit;
}
.shortdesi{
  color: white;
}
.intro{
  color: rgb(7, 132, 46);
  font-size: 12px;
}
.servme{
  padding-top: 5%;
  color: white;
  text-align: center;
  padding-bottom: 5%;
}
.servemeseen{
  background-color: rgb(36, 36, 36);
}
.servme h2{
  color: rgb(7, 132, 46);
  font-size: 20px;
  font-weight: 600;
}
.col {
  flex: 0 0 auto;
  width: 21.333333%;
}
.card{
  background-color: inherit;
  color: white;
  margin-top: 10%;
}
.card img {
  height: 300px;
}
.row{
margin-left: 10%; 
 margin-right: 0;
}
.knowme{
display: flex;
gap: 0.8rem;
}
.knowme h3{
  text-decoration: underline;
  font-size: 13px;
  font-family: "Protest Revolution", sans-serif;
letter-spacing: 5px;
}
.knowme p{
  font-size: 18px;
}
.form-control{
  width: 220%;
  border:2px solid rgba(206, 206, 206, 0.887) ;
  background-color: rgba(0, 0, 0, 0.802);
  border-radius: 12px;
  color: white;
}

.contactheader{
  text-align: center;
  margin-bottom: 5%;
  margin-top: 2%;
}
.knowmecontainer{
  display: flex;
  margin-left: 30%;
  gap: 10rem;
}
.contactooo{
  background-color: rgb(36, 36, 36);
  color: white;
  padding: 15px;
}
.send{
  border-radius: 15px;
  padding: 5px;
  background-color: rgb(62, 61, 61);
  color: rgb(255, 255, 255);
  transition: 0.3s ease-in-out;
}
.send:hover{
  background-color: black;
  color: green;
}
.contactheader span{
  color: green;
  font-family: "Protest Revolution", sans-serif;
}.contactheader  h3{
  font-size: 17px;
}
/* .col{
  width: 30%;
} */
.myportfoliocont .card img{
  height: 250px;
}
.myportfoliocont .col{
width: 30%;
}
.myportfoliocont .card-body{
  color: rgb(255, 255, 255);
}
.viewpro{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.viewpro:hover{
  color: green;
  font-family: 'Raleway', sans-serif;}
.portfolio{
  background-color: rgb(29, 28, 28);
padding-bottom: 50px;
}
.portfolio .card-title{
  font-weight: bold;
  letter-spacing: 3.5px;
  color: green;
  font-family: 'Raleway', sans-serif;
}
.portfolio  a{
  text-decoration: none;
}
.portfolio .card {
  position: relative;
  overflow: hidden; /* Ensures the image doesn't overflow its container */
 
}

.portfolio .card-img-top {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease; /* Add transition for smooth effect */
}

.portfolio .card:hover .card-img-top {
  transform: scale(1.1); /* Zoom in on image when hovered */
}
.jinakubwaa{
  padding-top: 2%;
  text-align: center;
  color: white;
}
@media screen and (max-width: 1150px) {
  .knowmecontainer{
    display: flex;
    margin-left: 5%;
    gap: 5rem;
  }
  .form-control{
    width: 140%;
    border:2px solid rgba(206, 206, 206, 0.887) ;
    background-color: rgba(0, 0, 0, 0.802);
    border-radius: 12px;
    color: white;
  }
  

nav ul li button a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  }
  .myportfoliocont .card img{
    height: 200px;
  }
  .myportfoliocont .col{
    width: 45%;
    }
    .col{
      flex: 0 0 auto;
      width: 24.33%;
    }
    .card img{
      height: 100px;
    }
    .servme .card-title{
      font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
  .form-control{
    width: 90%;
    border:2px solid rgba(206, 206, 206, 0.887) ;
    background-color: rgba(0, 0, 0, 0.802);
    border-radius: 12px;
    color: white;
  }
  
  .knowmecontainer{
    display: block;
    margin-left: 12%;
    gap: 10rem;
  }
  nav{
    display: block;
  }
}

@media screen and (max-width: 450px) {
  nav ul{
    display: flex;
    gap: 2rem;
  }
  .portfolio .card-text{
    font-size: 14px;
  }
  .myportfoliocont .card img{
    height: 200px;
  }
  .myportfoliocont .col{
    width: 95%;
    }
  .form-control{
    width: 90%;
    border:2px solid rgba(206, 206, 206, 0.887) ;
    background-color: rgba(0, 0, 0, 0.802);
    border-radius: 12px;
    color: white;
  }
  
  .knowmecontainer{
    display: block;
    margin-left: 12%;
    gap: 10rem;
  }
  nav{
    display: block;
  }
  nav ul li button a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    }
    .sk{
      font-family: "Protest Revolution", sans-serif;
    font-size: 28px;
padding-left: 2%;  
  }
    .shortdesi h3{
      font-size: 12px;
    }
    .shortdesi p{
      font-size: 12px;
      width: 80%;
    }
    .intro{
      color: rgb(7, 132, 46);
    }
    .hello{
      font-size: 12px;
    }
    .sooft{
      font-size: 12px;
    }
    .mwanzilishi{
      padding-left: 10%;
      gap: 4rem;
    }
    .contactymee{
      font-size: 12px;
      padding: 5px;
      background-color: white;
    margin-top: 3%;
    }
    .contactymee a{
      font-weight: 600;
      color: green;
      text-decoration: none;
      background-color: inherit;
    }
    .servme h2{
      font-size: 18px;
    }
    .servme h3{
      font-size: 15px;
    }
    .servme p{
      font-size: 12px;
    }
    .col{
      flex: 0 0 auto;
      width: 44.33%;
    }
    .card img{
      height: 120px;
    }

}
