@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Hedvig+Letters+Serif:opsz@12..24&family=Lemon&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:opsz,wght@6..12,200&family=Playfair+Display:wght@400..900&family=Protest+Revolution&family=Rubik+Burned&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
.myhome{
  background-color: rgb(29, 28, 28);

}
.sk{
  font-family: "Protest Revolution", sans-serif;
font-size: 90px;
color: white;
}
nav{
  background-color: rgb(29, 28, 28);

  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav ul li button a{
text-decoration: none;
color: white;
font-size: 18px;
}
nav ul li button{
  border: none;
  background-color: inherit;
}
nav ul{
  display: flex;
  gap: 3rem;
}
nav ul li{
list-style: none;
} 
.manyala{
  font-family: "Protest Revolution", sans-serif;
  color: rgb(7, 132, 46);
}
.hello{
  color: white;
  font-size: 25px;
}
.mwanzilishi{
display: flex;
justify-content: space-around;
padding-top: 5%;
padding-bottom: 5%;
/* margin-top: 5%; */
}
.sooft{
  color: rgb(7, 132, 46);
}
.web{
  color: rgb(255, 255, 255);
}
.contactymee{
  padding: 10px;
  background-color: white;
margin-top: 3%;
}
.contactymee a{
  font-weight: 600;
  color: green;
  text-decoration: none;
  background-color: inherit;
}
.shortdesi{
  color: white;
}
.intro{
  color: rgb(7, 132, 46);
  font-size: 12px;
}
.servme{
  padding-top: 5%;
  color: white;
  text-align: center;
  padding-bottom: 5%;
}
.servemeseen{
  background-color: rgb(36, 36, 36);
}
.servme h2{
  color: rgb(7, 132, 46);
  font-size: 20px;
  font-weight: 600;
}
.col {
  flex: 0 0 auto;
  width: 21.333333%;
}
.card{
  background-color: inherit;
  color: white;
  margin-top: 10%;
}
.card img {
  height: 300px;
}
.row{
margin-left: 10%; 
 margin-right: 0;
}
.knowme{
display: flex;
gap: 0.8rem;
}
.knowme h3{
  font-size: 18px;
  font-family: "Protest Revolution", sans-serif;
letter-spacing: 5px;
}
.knowme p{
  font-size: 13px;
}
.form-control{
  width: 220%;
  border:2px solid rgba(206, 206, 206, 0.887) ;
  background-color: rgba(0, 0, 0, 0.802);
  border-radius: 12px;
  color: white;
}

.contactheader{
  text-align: center;
  margin-bottom: 5%;
  margin-top: 2%;
}
.knowmecontainer{
  display: flex;
  margin-left: 30%;
  gap: 10rem;
}
.contactooo{
  background-color: rgb(36, 36, 36);
  color: white;
  padding: 15px;
}
.send{
  border-radius: 15px;
  padding: 5px;
  background-color: rgb(62, 61, 61);
  color: rgb(255, 255, 255);
  transition: 0.3s ease-in-out;
}
.send:hover{
  background-color: black;
  color: green;
}
.contactheader span{
  color: green;
  font-family: "Protest Revolution", sans-serif;
}.contactheader  h3{
  font-size: 17px;
}
/* .col{
  width: 30%;
} */
.myportfoliocont .card img{
  height: 250px;
}
.myportfoliocont .col{
width: 30%;
}
.myportfoliocont .card-body{
  color: black;
}
.viewpro{
  text-decoration: none;
  color: black;
}
.viewpro:hover{
  text-decoration: underline;
  color: black;
}
.portfolio .card-title{
  font-weight: bold;
  letter-spacing: 3.5px;
  color: green;
  font-family: 'Raleway', sans-serif;
}
.portfolio  a{
  text-decoration: none;
}